body, input, label, textarea {font-family: serif; font-size: 1rem}

.width-75 { max-width: clamp(45ch, 90vw, 75ch) }

.muted, .muted > div, .muted > input {
  color: darkgray
}
.active { }


.first-par::first-letter {
  font-size: 150%
}

.directions {
  font-style: italic;
  margin-top: 0.6em; margin-bottom: 0.6em
}
.character {
  font-variant: small-caps; font-weight: bolder;
  color: midnightblue
}

.in_progress { }
.Carpatians { background-color: #d5f7d7 }
.tram { background-color: #fff7cb }
.Kurenivka { background-color: #f5ebdd }

.command {
  font-family: "Courier New", monospace;
  font-weight: lighter; font-size: smaller;
  background-color: #ebebeb;
  padding: 0.25ex 0.25em; /* widen gray rect */
  position: relative; bottom: 0.3ex; /* make text jump a little bit up */
}
